<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="ultravisual" version="0.5.0">
	<name>Ultravisual </name>
	<description>Ultravisual  Plugin - integrates native ultravisual UI control</description>
	<license>Apache 2.0</license>
	<keywords>cordova,ultravisual</keywords>
	<repo>https://git-wip-us.apache.org/repos/asf/cordova-plugin-splashscreen.git</repo>
	<issue>https://issues.apache.org/jira/browse/CB/component/12320653</issue>

	<engines>
		<engine name="cordova-android" version=">3.9.9" /><!-- Requires Gradle building -->
<!--		<engine name="cordova-ios" version=">=1.7.1" />-->
	</engines>

	<js-module src="www/UltravisualPlugin.js" name="UltravisualPlugin">
		<clobbers target="UltravisualPlugin" />
	</js-module>


	<!-- android -->
	<platform name="android">
		
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="TwitterConnect">
				<param name="android-package" value="com.manifestwebdesign.twitterconnect.TwitterConnect" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="io.fabric.ApiKey" android:value="$FABRIC_KEY" />
		</config-file>
		 
		<framework src="src/android/twitter.gradle" custom="true" type="gradleReference" />
		<source-file src="src/android/TwitterConnect.java" target-dir="src/com/manifestwebdesign/twitterconnect" />
	</platform>
	
	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="UltravisualPlugin">
				<param name="ios-package" value="UltravisualPlugin" />
			</feature>
		</config-file>
		
		<header-file src="src/ios/UltravisualPlugin.h" />
		<source-file src="src/ios/UltravisualPlugin.m" />
        
        <header-file src="src/ios/RPSlidingMenu.h" />
        
        <header-file src="src/ios/RPSlidingMenuCell.h" />
        <source-file src="src/ios/RPSlidingMenuCell.m" />
        
        <header-file src="src/ios/RPSlidingMenuLayout.h" />
        <source-file src="src/ios/RPSlidingMenuLayout.m" />
        
        <header-file src="src/ios/RPSlidingMenuViewController.h" />
        <source-file src="src/ios/RPSlidingMenuViewController.m" />
        
        <header-file src="src/ios/RPViewController.h" />
        <source-file src="src/ios/RPViewController.m" />
        
        <resource-file src="src/ios/image1@2x.png" />
        <resource-file src="src/ios/image2@2x.png" />
        <framework src="Foundation.framework" />
	</platform>
</plugin>
